<div class="container jumbotron">
<table class="table">
  <thead>
 
    <tr style="background-color: blue;" align="center">
      <td colspan="2">Employee Data</td>
    </tr>
    
  
</thead>

<tbody>
 <tr>
  <td>Employee Name:</td>
   <td>{{employeeName}}</td>
 </tr>
<tr>
  <td>Employee Status: </td>
  <td>{{isPresent? 'Present' : 'Absent'}}</td>
</tr>
<td>Toggle Attendance:</td>
<button (click)="onToggleAttendance()">Mark Absent</button>
<br>

<tr>
  <td>Employee Image:</td>
  <img [src]="imageUrl" alt="Employee Image"/>
</tr>
<tr>
<td>Colspan Attribute:</td>
<td>
  <table border="1">
  <tr>
    <td [attr.colspan]="colSpan"></td>
  </tr>
</table>
</td>
</tr>
<tr>
<td>Special Class:</td>
<div [class.special]="isSpecial" style="background-color: yellow; ">This is a special div.</div>
 
</tr>

<tr>
  <td>Custom Color:</td>
  <p [style.color]="textColor">This text has custom color.</p>
 </tr>
 <tr>
   <td>Two-Way Binding:</td>
   <input [(ngModel)]="employeeStatus" placeholder="Employee Status"/>
   
  <td>Employee Status: {{employeeStatus}}</td>
</tr>
</tbody>

</table>
</div>